.add-artical-content {
  height: 100%;
}
.add-artical {
  height: 100%;
  display: flex;
  .aside-artical {
    width: 18%;
    background-color: #3f3f3f;
    .home-box {
      padding: 30px 19px 5px 18px;
      text-align: center;
    }
    @at-root .add-cat-box {
      padding: 0 15px;
      margin-top: 20px;
      margin-bottom: 10px;
      .add-cat-btn {
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        cursor: pointer;
      }
      .create-notebook-form {
        margin: 10px 0 20px 0;
      }
      .create-input {
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        background-color: rgba(180, 180, 180, 0.2);
        color: #c8c8c8;
        border: 1px solid #2f2f2f;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border linear 0.2s, box-shadow linear 0.2s;
        padding: 4px 6px;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
        vertical-align: middle;
        outline: 0;
      }
      .create-note-book-btn {
        display: inline-block;
        border: 1px solid #34ab20;
        border-radius: 20px;
        color: #34ab20;
        padding: 5px 20px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background-color: rgba(52, 171, 32, 0.1);
        }
      }
      .cancle-btn {
        font-size: 14px;
        display: inline-block;
        padding: 6px 12px 4px 12px;
        color: #969696;
        transition: background-position 0.1s linear;
        cursor: pointer;
        &:hover {
          color: #eee;
        }
      }
    }
    @at-root .cat-list {
      font-size: 15px;
      font-weight: normal;
      padding: 0;
      .cat-item {
        height: 40px;
        padding: 0 15px;
        line-height: 40px;
        color: whitesmoke;
        cursor: pointer;
        &.active {
          background-color: #646464;
          border-left: 3px solid #ec7259;
        }
      }
    }
  }
  .middle-artical {
    width: 25%;
    border-right: 1px solid #d9d9d9;
    color: #555;
  }
  .main-artical {
    flex: 1;
    display: flex;
    flex-direction: column;
    @at-root .artical-title {
      width: 100%;
      padding: 20px 30px 10px 40px;
      border-bottom: 1px solid #d9d9d9;
      input {
        width: 100%;
        font-size: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 0;
        border: 1px solid transparent;
        appearance: none;
        outline: 0;
      }
    }
    @at-root .artical-control {
      margin: 0;
      height: 40px;
      overflow: hidden;
      background-color: #dedede;
      border-bottom: 1px solid #d9d9d9;
      overflow: hidden;
      .upload-image-input {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 42px;
        cursor: pointer;
      }
      .control-item {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        list-style: none;
        padding: 11px 12px;
        font-size: 18px;
        position: relative;
        &.left {
          float: left;
          span {
            display: block;
          }
        }
        &.right {
          float: right;
          font-size: 13px;
          i {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
          }
        }
        i {
          display: block;
          width: 18px;
          height: 18px;
          overflow: hidden;
        }
      }
    }
    @at-root .artical-content {
      flex: 1;
      .artical-area {
        padding: 40px 40px 0;
        width: 100%;
        height: 100%;
        resize: none;
        color: #2f2f2f;
        font-size: 18px;
        font-weight: normal;
        line-height: 30px;
        outline: 0;
        border: 1px solid transparent;
      }
    }
  }
}
.artical-preview {
  height: 100%;
  display: flex;
  .artical-edit-content {
    flex: 1;
    border-right: 1px solid #d9d9d9;
  }
  .artical-preview-content {
    flex: 1;
    background-color: #fcfaf2;
    padding: 40px 40px 0 40px;
  }
}
