.foot {
  width: 700px;
  padding: 0 50px;
  height: 120px;
  background-color: #399c9c;
  line-height: 120px;
  box-sizing: border-box;
  margin: 30px auto;
  .foot-copy {
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}
