@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.icon-add {
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  &:before,
  &:after {
    content: '';
    height: 4px;
    width: 12px;
    display: block;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 0;
  }
  &:after {
    height: 12px;
    width: 4px;
    top: 0;
    left: 4px;
  }
}
